* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

audio {
  display: none;
}

@font-face {
  font-family: myFirstFont;
  src: url(assets/Friz\ Quadrata\ Bold.otf);
  font-weight: bold;
}

body {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 100vh;
  display: flex;

  background: url(assets/padded.jpg);
}

#foobar {
  display: none;
}

.title {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 3em;
  font-family: myFirstFont;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  background: linear-gradient(to bottom, #d19e34, #966223, #d19e34);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3.2px black;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: 4.5em auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  /* border: 2px solid rgb(45, 91, 143); */
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  /* border: 2px solid rgb(45, 91, 143); */
  outline: none;
  border: none;
  transform: scale(1);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.5s;
  overflow: visible !important;
  -webkit-overflow: visible !important;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.6s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 10%;
  /* border: 2px solid rgb(139, 45, 66); */
  outline: none;
  border: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #d19e34;
  font-family: myFirstFont;
}

.overlay-text-small {
  font-size: 0.3em;
  display: flex;
  flex-direction: column;
  animation: overlay-grow 1000ms forwards;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
    opacity: 0;
  }

  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 8em;
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .memory-game {
    height: 550px;
  }
  .memory-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px);
    margin: 2px auto;
  }

  .title {
    font-size: 2.1em;
    margin-top: -9%;
  }

  .overlay-text {
    bottom: 15%;
  }

  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
      opacity: 0;
    }

    to {
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 3em;
      opacity: 1;
    }
  }
}

@media (max-width: 480px) {
  .memory-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px);
    height: calc(20% - 10px);
    margin: 2px auto;
  }
}
